extends html

block styles
  link(rel="stylesheet", href="../css/style.css?_=" + builddate)
  title Moment.js Unit Test Suite

block scripts
  script(src="../js/moment.js?_=" + builddate)
  script(src="../js/lang-all.min.js?_=" + builddate)
  script(src="../js/test.min.js?_=" + builddate)

block content
  #test
    h1 Moment.js unit test suite
    h2#qunit-banner
    h4#qunit-userAgent
    ol#qunit-tests
