/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/**
 * base styles
 */
 
 
html { background:#AFBAC4 url(bg.png); text-align:center; color:#445; }

a { color:#09489A; }

h1, h2, h3, h4, h5, h6, th { font-family:Oswald, sans-serif; line-height:1.5em; margin-bottom:10px; text-shadow:1px 1px 0 #fff; }

h1 { font-size:36px; padding-top:20px; }
h2 { font-size:24px; padding-top:10px; }
h3 { font-size:18px; padding-top:10px; }
h4 { font-size:16px; }
h5 { font-size:14px; }
h6 { font-size:14px; }

h1 a { color:#445; }

body, p { font-size:14px; line-height:1.5em; font-family:"Helvetica", "Arial", sans-serif; } 

p { margin-bottom:20px; } 

pre, code { font-size:14px; line-height:1.5em; font-family:Consolas, "Courier New", Courier, monospace; }

pre { background:rgba(0, 0, 0, .05); display:block; padding:10px 20px; margin-bottom:20px; white-space:pre; white-space:pre-wrap; word-wrap:break-word; }

p code { background:rgba(0, 0, 0, .05); padding:0 5px; }

table { margin-bottom:20px; width:100%; } 

th { font-size:21px; padding:10px 20px; }
td { border-top:1px solid #313749; padding:5px 20px; }
td + td { background:rgba(255, 255, 255, .2); }

b, strong { font-weight:bold; }

/*
 * special
 */

.logo { text-align:center; border-bottom:#313749 10px solid; margin:0 -41px; }
.fork-me { position:absolute; top:0; right:0; text-indent:-9999px; width:149px; height:149px; display:block; background:url(fork.png); }

/**
 * layout
 */

#nav { width:220px; padding:10px 10px 100px; position:fixed; top:0; bottom:0; left:0; overflow-x:hidden; overflow-y:scroll; text-align:left; background:rgba(0, 0, 0, .2); border-right:1px solid #fff; }
#docs { padding-left:300px; width:600px; text-align:left; }

.ca { text-align:center; }
.br { margin:50px; border:1px dashed #fff; border-width:1px 0; border-top-color:#313749; height:0; line-height:0; }
#container { background:url(bg-body.png); margin:0 auto; width:920px; padding:20px 60px 100px; text-align:left; }
.footer { text-align:center; padding:50px 0 200px; }

.col-1 { width:420px; padding:0 20px; float:left; }

.clearfix { display:block; clear:both; visibility:hidden; line-height:0; height:0; }

#nav::-webkit-scrollbar{ height:8px; width:8px; }
#nav::-webkit-scrollbar-track-piece { margin:10px; border-radius:4px; }
#nav::-webkit-scrollbar-thumb:vertical{ height:25px; background-color:#666; -webkit-border-radius:4px; }
#nav h1 { font-size:24px; padding-top:10px; text-shadow:none; }
#nav h2 { font-size:18px; padding-top:10px; text-shadow:none; }
#nav h1 a,
#nav h2 a { text-decoration:none; }
#nav a { color:#445; display:block; padding:2px 10px; border-radius:4px; cursor:pointer; }
#nav a:hover { background:rgba(0, 0, 0, .1); }
#nav li { list-style:none; font-size:12px; }